body{
  background-color: #EDDFB3;
}

h1{
  color: #1C3879;
}
h3{
  color: #1C3879;
}

h1 {
  text-decoration-line: underline;
  text-decoration-style: solid;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
